<div id="<%= dom_id book %>">
  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= book.language %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= book.published %>
  </p>

  <p>
    <strong>Edition:</strong>
    <%= book.edition %>
  </p>

  <p>
    <strong>Associated library:</strong>
    <%= book.associated_library %>
  </p>

  <p>
    <strong>Cover page:</strong>
    <%= book.cover_page %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= book.summary %>
  </p>

  <p>
    <strong>Special collection:</strong>
    <%= book.special_collection %>
  </p>

</div>
