<div id="<%= dom_id uni_library %>">
  <p>
    <strong>Name:</strong>
    <%= uni_library.name %>
  </p>

  <p>
    <strong>University:</strong>
    <%= uni_library.university %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= uni_library.location %>
  </p>

  <p>
    <strong>No of books:</strong>
    <%= uni_library.no_of_books %>
  </p>

  <p>
    <strong>Overdue fine:</strong>
    <%= uni_library.overdue_fine %>
  </p>

</div>
